@import '../Assets/scss/Constant';

body{
  margin:0;
}

.App-logo {
  // animation: App-logo-spin infinite 20s linear;
  height: 60px;
}
.container-fluid{
  padding-right:0;
  padding-left: 0;
}
.row{
  margin:0;

}

form{
  textarea,select,input{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: 0.5rem 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select{
  height: calc(2.25rem + 2px);
}
}
header {
  width: 100%;
  height: 90vh;
  background-image: url("../Assets/img/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    color:white;
    font-family: Andale Mono;
    text-align: center;
    font-size: 3em;
    margin:auto;
  }
}
main{
  margin-bottom:0;
}
footer {
  height: 10vh;
  width: 100%;
  background-color: $Color_primary;
  padding: 0 2rem;
  h6{
    margin:auto;
  }

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 600px) {
main{
  margin-bottom:0;
}
footer {
  height: auto;
  text-align:center;
  h6{
    margin:0.2rem 0;
    text-align:center;
  }

}
  }
