.card {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.52);
  border-radius: 5vh;
  padding: 5vh;
  margin: auto;
  font-size: 1em; }

.photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.5em solid #B6D8FF;
  background-image: url("../../Assets/img/profile.jpg");
  background-position: center;
  background-size: cover; }
